<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-6 offset-3">
        <div class="card" style="width: 18rem;">
            <img src="<%= foundViolation["image"] %> " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= foundViolation["title"] %></h5>
              <ul class="list-group list-group-flush">
                  <li class="list-group list-group-flush">
                    <p class="card-text"><%= foundViolation["location"] %> </p>
                  </li>
                  <li class="list-group list-group-flush">
                    <p class="card-text"><%= foundViolation["veh_num"] %> </p>
                  </li>
                  <li class="list-group list-group-flush">
                    <p class="card-text">Name:<%= foundViolation["uploader_name"] %> </p>
                  </li>
                  <li class="list-group list-group-flush">
                    <p class="card-text">Email:<%= foundViolation["uploader_email"] %> </p>
                  </li>
              </ul>
              
              <form class="d-inline" action="/roadViolations/<%= foundViolation["_id"] %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
            <br>
            <a href="/roadViolations/<%= foundViolation["_id"] %>/edit ">
            <button class="btn btn-warning">
            Impose Challan</button></a>
            </div>
          </div>
    </div>
</div>
<a href="/roadViolations">Go back</a>

    
    
